<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Department name">
<!--    <test name="First Try - Run all methods from one class">-->
<!--        <classes>-->
<!--            <class name="ecommerceAppium.AppiumLoginScreenTest"/>-->
<!--            <class name="ecommerceAppium.AppiumProductsScreenTest"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="Second Try - Include and exclude methods">-->
<!--        <classes>-->
<!--            <class name="ecommerceAppium.AppiumLoginScreenTest">-->
<!--                <methods>-->
<!--                    <include name="AppiumLoginSuccessfullyTest"/>-->
<!--                </methods>-->
<!--            </class>-->

<!--            <class name="ecommerceAppium.AppiumProductsScreenTest">-->
<!--                <methods>-->
<!--                    <exclude name="AppiumOpeningTermsSuccessfullyTest"/>-->
<!--                    <exclude name="AppiumAddingProductsSuccessfullyTest"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->

<!--    I couldn't use regex to exclude or include test methods-->
<!--    <test name="Third Try - Using regex to exclude ou include methods">-->
<!--        <classes>-->
<!--            <class name="ecommerceAppium.AppiumLoginScreenTest">-->
<!--                <methods>-->
<!--                    <exclude name="Login.*"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>