<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Department name">
    <test name="Run all methods from all classes">
        <classes>
            <class name="ecommerceAppiumTests.AppiumBrowserTest">
            </class>
        </classes>
    </test>
</suite>